.user-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    text-align: center;
    justify-items: center;
    padding-block: 3dvh;
    padding-inline: 3dvw;

    color: white;
}

.userview-img {
    max-height: 15vh;
    border-radius: 50%;
}

.logout-button {
    margin-top: 3vh;
    font-size: 16px;
    font-weight: 600;
    width: 30%;
    padding: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: var(--roxo-codi);
    transition: transform 0.3s ease-in-out;
}