.auth-container {
  background: rgb(216, 209, 209);
  padding-block: 3dvh;
  padding-inline: 5dvw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-items: center;
}

.auth-container input,
button,
.alert,
#btn-google {
  margin-top: 2dvh;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-container input {
  width: 100%;
  padding-block: 2dvh;
  padding-inline: 3dvw;
  border: 1px solid #ccc;
}

.auth-container button {
  min-width: 50%;
  padding-block: 2dvh;
  padding-inline: 3dvw;
  border: none;
  background-color: #9d53e2;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-container button:disabled {
  background-color: #ccc;
}

.auth-container p {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: #007bff;
  margin-top: 2dvh;
}