@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --roxo-codi: #a243d2;
  --gray-900: #111827;
  --gray-950: #030712;
  --white: #ffffff;
}

.nav-container {
  position: fixed;
  bottom: 0;
  height: 6dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #121212;
  border-top: 1px solid var(--gray-950);
  flex-wrap: wrap;
  align-content: center;
}

.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-links .nav-item {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-links .nav-item:hover {
  color: var(--roxo-codi);
}

.nav-links .active {
  color: var(--roxo-codi);
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.user-img {
  height: 4vh;
  border-radius: 50%;
}