@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 6dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1dvw;
  background-color: var(--navbar-bg);
  border-top: 1px solid var(--gray-950);
}

.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10dvw;
}

.nav-links .nav-item {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-links .nav-item:hover {
  color: var(--roxo-codi);
}

.nav-links .active {
  color: var(--roxo-codi);
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.user-img {
  height: 4dvh;
  border-radius: 50%;
}