:root {
    --roxo-codi: #A243D2;
    --fonte-marrom: #211B15;
    --fonte-preta: #1C1C1C;
    --gray-900: #111827;
    --gray-950: #030712;
    --gray-1000: #010307;
    --faded: linear-gradient(97.57deg, #29e0a9 -12.7%, #5f75f2 32.64%, #9956f6 78.49%, #e254ff 109.78%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background-color: #121212;
}

.App {
    min-height: 95dvh;
    background-color: var(--gray-900);
    display: flex;
    flex-direction: column;

}

.App .container {
    flex: 1;
    padding-inline: 5dvw;
    padding-block: 5dvh;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}